.event-info {
  text-align: center;
  margin: 1em;
  border-radius: 4px;
}

.container-flex-center {
  display: flex;
  justify-content: center;
}

.container-flex-center div {
  padding: 0.25em;
}

.event-info-slash {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
