<footer class="text-center">
  ici mon footer
  <p>Fait par Adam - Un souci, un bug, un conseil à me faire remonter ? Contacte-moi sur mon snap adamneyney ! Ca m'aidera énormément je fais le site seul !</p>
</footer>
