#menu-section {
  position: fixed;
  right:0;
  top: 8vh;
  width: 60vw;
  height: 92vh;
  z-index: 1000;
}

#dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left:0;
  top: 8vh;
  width: 100vw;
  height: 92vh;
  z-index: 1000;
}

.open {
  animation: open 0.3s ease-in-out;
}
.close {
  animation: close 0.3s ease-in-out;
}

@keyframes open {
  from {
    transform: translateX(100%)
  }
}

@keyframes close {
  to {
    transform: translateX(100%);
  }
}

#menu-list {
  list-style: none;
  padding:0;
}

#menu-list .link {
  font-family: arial;
  padding: 0.5em;
  transition: background-color 0.3s ease;
}

#menu-agent-swap {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}
