<h1>Les prochains événements futsal</h1>

<%= link_to 'Créer un nouvel événement futsal', new_event_path, id: 'cta-btn' %>

<section id="events-grid-container">
  <% @events.each do |event| %>
    <%= render 'events/index/event-card', event: event %>
  <% end %>

</section>
