.player-card-0 {
  background-color: #b22222;
  border-radius: 4px;
  padding: 0.1em;
  margin-bottom: 4px;
}

.player-card-1 {
  background-color: #2239B2;
  border-radius: 4px;
  padding: 0.1em;
  margin-bottom: 4px;
}

.player-card-2 {
  background-color: #6a6a6a;
  border-radius: 4px;
  padding: 0.1em;
  margin-bottom: 4px;
}
