#teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align:center;
}

.team-title {
  margin-bottom: 0.5em;
}

.team-0 {
  background-color: #8b0000;
  border: 2px solid #b22222;
  border-radius: 4px;
  padding: 0.5em;
  width: 40%;
}


.team-1 {
  background-color: #000E8B;
  border: 2px solid #2239B2;
  border-radius: 4px;
  padding: 0.5em;
  width: 40%;
}

.team-2 {
  margin-top: 1em;
  background-color: #7A7A7A;
  border: 2px solid #D9D9D9;
  border-radius: 4px;
  padding: 0.5em;
  width: 80%;
}
