<div id="team-2">

  <h2>
    <%= event.teams[1].name %>
  </h2>

  <% event.teams[1].players.each do |player| %>
    <div class="player-card-2">
      <%= player.first_name %>
    </div>
  <% end %>

  <%= link_to 'Rejoindre', event_event_players_path(event, @event_player) %>

</div>
